<footer>
  <div class="f-info">
    <div class="f-info-Socials">
      <a href="https://www.instagram.com/sujal__verma___/?hl=en"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.facebook.com/verma.ujal"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.linkedin.com/in/sujalkumarpoddar/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.youtube.com/@CodingVedha"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
    <div class="cp">&copy; WonderLust Private limited</div>
    <div class="f-info-links">
      <a href="/privicy" class="terms">Privicy</a>
      <a href="/terms" class="terms">Terms</a>
    </div>
  </div>
</footer>
