body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.navbar {
  /* height: 5rem; */
  background-color: rgb(202, 202, 202);
  

}
.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links {
  width: 100%;
}
.f-info-Socials {
  width: 100%;
}
.f-info-Socials i {
  font-size: 2rem;
  margin-right: 1rem;
}
.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  text-align: center;
}
/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
  box-shadow: 6px 8px 8px black;
}
.card-body {
  margin-top: 1rem;
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}
/* Card-Effect */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
  /* box-shadow: 5px 6px 6px black; */
}
.addbtn {
  background-color: #ff385c !important;
  color: white !important ;
  border: none !important;
}

/* show page */

.show-img {
  height: 70vh;
}
.btns {
  display: flex;
  justify-content: space-between;
}

.reviewCard {
  /* display: flex !important; */
  /* width: 600px !important; */
  border-radius: 3rem !important;
}

/* MAP */
#map {
height: 100px;
width: 100px;
}

.tax-info{
  display: none;
}

.search-btn div{
  background-color:#ff385c ;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.search-btn i{
  color:white ;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
}
.search-itm{
  margin-left: 6rem;
}
 .search-itm .search-inp{
  width: 25rem;
  border-radius: 25px;
  box-shadow: 2px 3px 4px black;
  padding-left: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 991.98px) {
  .search-itm {
    display: none;
  }
}

.card-img-overlay {
  opacity: 1 ;
}

.card-img-overlay i{
 font-size: 1.6rem;
 padding-left: 19rem;
}