<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        
    <body>
        <br><br>
        <h2 >Create New Listing</h2>
        <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input type="text" name="listing[title]" placeholder="Enter Title" id="title"
                    class="form-control" required>
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Please Enter title</div>
            </div>
            <div class="mb-3">

                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="Enter Description" id="description"
                    class="form-control" required ></textarea>
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Please Enter Description</div>
            </div>
            <div class="mb-3">
                <label for="image " class="form-label">Upload Image</label>
                <input type="file" name="listing[image]"id="image"class="form-control" required>   
            </div>

           <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price</label>
                <input name="listing[price]" placeholder="Enter price" id="price"
                    class="form-control" required>
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Please Enter Correct Price</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>
                <input type="text" name="listing[country]" placeholder="Enter country" id="country"
                    class="form-control" required >
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Please Enter Valid Country</div>

            </div>
           </div>

            <div class="mb-3">
                <label for="location" class="form-label">location</label>
                <input type="text" name="listing[location]" placeholder="Enter location" id="location"
                    class="form-control" required >
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Enter correct Location</div>
            </div>
            <button class="btn  mb-3 addbtn ">Submit</button>
        </form>
    </body>
    </div>
</div>