<% layout("/layouts/boilerplate") %>
<div class="row">
     <h1 class="col-6 offset-3 mb-2">Signup on WanderLust <hr></h1>

    <div class="col-6 offset-3 border  border-radius">
        <form action="/signup" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username"  id="username"
                    class="form-control" required>
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Please Enter Username</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="text" name="email"  id="email"
                    class="form-control" required>
                    <!-- <div class="valid-feedback">Looking goods</div> -->
                    <!-- <div class="invalid-feedback">Please Enter email</div> -->
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" name="password"  id="password"
                    class="form-control" required>
                    <div class="valid-feedback">Looking goods</div>
                    <div class="invalid-feedback">Please Enter password</div>
            </div>
<button class="btn btn-success mb-2">Signup</button>
        </form>
</div>
</div>